/*custom font*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@primary-color: #00add8;
@primary-color: #00add8;

/*basic reset*/

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", arial, verdana;
}

hr {
  margin-bottom: 40px;
}
/*form styles*/

#msform {
  max-width: 1150px;
  margin: 50px auto;
  text-align: center;
  position: relative;
}

#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 7px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.2);
  padding: 100px 10% 20px 10%;
  box-sizing: border-box;
  min-height:950px;
  width: 75%;
  margin: 0 10%;
  /*stacking fieldsets above each other*/
  position: absolute;
}

/*Hide all except first fieldset*/

#msform fieldset:not(:first-of-type) {
  display: none;
}
/*inputs*/

/*edited padding for ie from 15px to 5*/

#msform input[type="text"],
#msform textarea {
  padding-left: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 95%;
  box-sizing: border-box;
  color: #2C3E50;
  font-size: 13px;
}

/*buttons*/

#msform .action-button {
  width: 100px;
  background: #00add8;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

#msform .action-button:hover,
#msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px @primary-color;
}


/*progressbar*/

#progressbar {
  margin-bottom: 10px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
}

#progressbar li {
  list-style-type: none;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  width: 35px;
  margin-right:.75%;
  display: inline-block;
  position: relative;
}

#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  line-height: 30px;
  display: block;
  font-size: 15px;
  color: #333;
  border: solid rgba(0, 173, 216, 0.2);
  border-radius:50%;
  margin: 0 auto 5px auto;
}



/*The number of the step and the connector before it = green*/

#progressbar li.active:before,
#progressbar li.active:after {
  background: @primary-color;
  color: white;
}

/* Jen's additional code */


/* for Bag, Box, Mat, Vinyl selection */


#msform label {
  font-size: 16px;
}

input + span {
  font-size:18px;
  font-weight:500;
}

.hide {
  display: none;
}

.form-list li {
  display: inline-block;
}

#msform .col2-set {
  margin-bottom: 30px;
}

@media screen and (max-width: 700px) {
  h1 {
    font-size:26px;
  }
  h2 {
    font-size:20px;
  }
  #msform label {
    font-size: 13px;
  }
  .products-grid .product-item {
    width:100%;
    margin-bottom:20px;
  }
}
@media (min-width: 1024px) {
  .products-grid .product-item {
    width:30%;
    margin-bottom:30px;
  }
}
label {
  padding-right:15px;
}
.packaging {
  margin-bottom:40px;
}
.input-size {
  max-width:60px;
  margin-right:30px;
}